.pager li.active a.active_link {
    background: #337ab7 !important;
    color: white;
}


.modal-dialog {
    width: 90% !important;



}

.modal-body {
    overflow: auto;
    height: 500px !important;
    min-height: 300px !important;
}

.left-gallery-side {
    border-right: 1px solid grey;
}

.modal_thumbnails {

    width: 150px;
    height: 100px !important;
}

#set_user_image {

    margin:10px;

}


#modal_sidebar {

    position: fixed !important;

}

.photo-info-box {

    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background-color: #fff;


}

.info-box-header {
    padding: 6px;
    border-bottom: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background-color: #fff;

}

.info-box-header:hover {
    cursor: pointer;
}


.photo-info-box .box-inner {
    border-top: 1px solid #e5e5e5;
    background-color: #fff;
    padding: 6px;

}

.photo-info-box .box-inner .text {
    padding: 7px 9px 19px;

}

.photo-info-box .box-inner .data {

    font-weight: bold;
}

.photo-info-box .info-box-footer{

    border-top: 1px solid #ddd;
    background-color: #ddd;
    padding: 10px;

}


#login-form {
    color: #ffffff;
}
login-msg {
    color: #000000;
}